<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProyectoºMVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Estilos.css")
   
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventario 2021", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated == false) 
                    { 

                        <li>@Html.ActionLink("Ingresar", "Login", "Usuario")</li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Opciones
                                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Usuario Crud", "Index", "Usuario")</li>
                                <li>@Html.ActionLink("Cliente Crud", "Index", "Cliente")</li>
                                <li>@Html.ActionLink("Proveedor Crud", "Index", "Proveedor")</li>
                                <li>@Html.ActionLink("Producto Crud", "Index", "Producto")</li>
                                <li>@Html.ActionLink("Roles Crud", "Index", "Roles")</li>
                                <li>@Html.ActionLink("Compra Crud", "Index", "Compra")</li>
                                <li>@Html.ActionLink("Producto Compra Crud", "Index", "Producto_compra")</li>
                                <li>@Html.ActionLink("Producto imagen Crud", "Index", "Producto_Imagen")</li>
                                <li>@Html.ActionLink("Usuario Roles", "Index", "Usuario_Rol")</li>

                            </ul>
                        </li>
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Reportes
                                <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Reporte Proveedor-Producto", "Reporte", "Producto")</li>
                                <li>@Html.ActionLink("Reporte Cliente-Compra", "ReporteCliente", "Cliente")</li>

                            </ul>
                        </li>

                        <li>@Html.ActionLink("Cerrar Sesion", "CloseSession", "Usuario")</li>
                    }
                    


</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi Proyecto ASP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
