@model ProyectoºMVC.Models.producto_imagen

@{
    ViewBag.Title = "Deatalles";
}

<h2>Deatalles</h2>

<div>
    <h4>producto_imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </dt>

        <dd>
            @ProyectoºMVC.Controllers.Producto_ImagenController.NombreProducto(Model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Regresar a la lista","Index")
</p>
