@model IEnumerable<ProyectoºMVC.Models.compra>

@{
    ViewBag.Title = "Registro de Compras";
}

<h2>Lista Compras</h2>

<p>
    @Html.ActionLink("Crear Compra", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            ListaClientes
        </th>
        <th>
            listaUsuarios
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @ProyectoºMVC.Controllers.CompraController.NombreCliente(item.id_cliente)
            </td>
            <td>
                @ProyectoºMVC.Controllers.CompraController.NombreUsuario(item.id_usuario)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar ", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }

</table>
@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta seguro de eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}
